<div class="center hero-unit">
  <h1>Welcome to Dropshare</h1>

  <h2>
    This is the home page for Dropshare 
  </h2>
	<p>(at least for time being)</p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>




<!-- <%= provide(:title, 'Home')%>
<h1>Home</h1>
<p>This is the home page (for the time being) for Dropshare</p>
<a href="/signup" class="btn btn-large btn-primary">Sign up now!</a> -->